{% extends 'base.html' %}

{% block title %}regDetails{% endblock %}

{% block content %}

<h3>Student Registration Details</h3>
<h4>Fill your details to make your work easier</h4>

<form action="/submit" method="POST">
    <p>Email:</p>
    <input type="email" placeholder="Personal Email" name="email" required>
    
    <p>Full Name:</p>
    <input type="text" placeholder="Name" name="name" required>

    <p>UID:</p>
    <input type="text" placeholder="University Roll.no" name="uid" required>

    <p>University Mail:</p>
    <input type="email" placeholder="University Mail" name="umail" required>

    <p>Xᵗʰ Marks:</p>
    <input type="number" placeholder="10ᵗʰ Marks" name="X" required>

    <p>Note: If GPA, multiply the grade with 9.5 i.e. 10GPA will be 10x9.5= 95. And don't put '%' symbol at the end</p><br>

    <p>XIIᵗʰ Marks:</p>
    <input type="number" placeholder="12ᵗʰ Marks" name="XII" required>

    <p>Note: multiply CGPA with 10 to get percentage.</p><br>

    <p>University:</p>
    <input type="radio" id="chandigarh" name="university" value="Chandigarh University" required>
    <label for="chandigarh">Chandigarh University</label><br>
    
    <input type="radio" id="cgc" name="university" value="CGC Landran" required>
    <label for="cgc">CGC Landran</label><br>

    <input type="submit" value="Submit">
</form>


{% endblock %}